extends layout

block scripts
	script(src='/socket.io/socket.io.js')
	script(src='https://code.jquery.com/jquery-3.4.1.min.js')

block content
	h1= title
	p Welcome to #{title}
	form(action="")
		p
			|	title:
			input(type='text', id="m", value='')
		button Send
	script.
		$(function () {
			var socket = io();
			$('form').submit(function(e) {
				console.log('submitting form');
				// Prevent page from reloading
				e.preventDefault();
				socket.emit('chat message', $('#m').val());
				$('#m').val('');
				return false;
			});
		});
