html {
	min-height: 100vh;
}

body {
	background-color: #3B4252;
}

.navbar {
	top: 0;
	position: absolute;
	width: 100%;
	z-index: 9999;
}

.main-section {
	margin: 0 auto;
	margin-top: 50%;
	padding: 0;
}

.modal-content {
	background-color: #d8dee9;
	opacity: 80%;
	border-radius: 10px;
	padding: 4em;
}

/* Game Page */

.game-container {
	background-color: #d8dee9;
	margin: 150px auto 0px;
	border-radius: 10px;
	padding: 1em;
	width: 1100px;
	max-height: 700px;
}

.player-list {
	list-style: none;
	min-width: 240px;
	max-width: 250px;
	display: block;
	overflow-y: auto;
}

.player-list li {
	background-color:aliceblue;
	border: solid 1px#5E81AC;
	font-weight: bold;
	margin-bottom: 5px;
	padding: 0.5em 0em;
	padding-left: 0.5em;
	border-radius: 10px;
}

.game-canvas {
	background-color: #d8dee9;
	/* margin: 1em; */
	padding: 1em;
}

canvas {
	padding: 0;
	margin: auto;
	display: block;
}

.features {
	display: inline;
}

#brush-indicator {
	width: 30px;
	height: 30px;
	display: inline-block;
}

.brush-colors {
	font-size: 0;
	display: inline;
}

.colors {
	width: 30px;
	height: 30px;
	display: inline-block;
}

.brush-eraser-fill {
	display: inline;
}

#brush {
	width: 30px;
	height: 30px;
	display: inline-block;
}

#eraser {
	width: 30px;
	height: 30px;
	display: inline-block;
}

#fill {
	width: 30px;
	height: 30px;
	display: inline-block;
}

.brush-sizes {
	display: inline;
}

.sizes {
	width: 30px;
	height: 30px;
	display: inline-block;
}

#clear-canvas {
	width: 30px;
	height: 30px;
	display: inline-block;
}


.chat-container {
	background:aliceblue;
	position: relative;
}

.chat-messages {
	max-height: 630px;
	width:250px;
	overflow-wrap: break-word;
	padding: 1em;
}

.chat-container #chat-form {
	min-width: 100%;
	position: absolute;
	bottom: 0;
}